<a href="https://colab.research.google.com/github/aadityadamle/Logistic-Regression/blob/master/Logistic_Regression_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('bank-1.csv', header=0)

In [3]:
df.head()

   age          job  marital  ... euribor3m nr_employed  y
0   44  blue-collar  married  ...     4.963      5228.1  0
1   53   technician  married  ...     4.021      5195.8  0
2   28   management   single  ...     0.729      4991.6  1
3   39     services  married  ...     1.405      5099.1  0
4   55      retired  married  ...     0.869      5076.2  1

[5 rows x 21 columns]

In [4]:
df = df.dropna()

In [5]:
print(df.shape)

(41188, 21)

In [6]:
print(list(df.columns))

['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed', 'y']

In [7]:
#drop columns which are not needed.
df.drop(df.columns[[0, 3, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19]], axis=1, inplace=True)

In [8]:
df.head()

           job  marital  default housing loan     poutcome  y
0  blue-collar  married  unknown     yes   no  nonexistent  0
1   technician  married       no      no   no  nonexistent  0
2   management   single       no     yes   no      success  1
3     services  married       no      no   no  nonexistent  0
4      retired  married       no     yes   no      success  1

In [9]:
# creating one hot encoding of the categorical columns.
data = pd.get_dummies(df, columns =['job', 'marital', 'default', 'housing', 'loan', 'poutcome'])

In [10]:
data.head()

   y  job_admin.  ...  poutcome_nonexistent  poutcome_success
0  0           0  ...                     1                 0
1  0           0  ...                     1                 0
2  1           0  ...                     0                 1
3  0           0  ...                     1                 0
4  1           0  ...                     0                 1

[5 rows x 29 columns]

In [11]:
data.columns

Index(['y', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'job_unknown', 'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'default_no', 'default_unknown', 'default_yes',
       'housing_no', 'housing_unknown', 'housing_yes', 'loan_no',
       'loan_unknown', 'loan_yes', 'poutcome_failure', 'poutcome_nonexistent',
       'poutcome_success'],
      dtype='object')

In [12]:
data

       y  job_admin.  ...  poutcome_nonexistent  poutcome_success
0      0           0  ...                     1                 0
1      0           0  ...                     1                 0
2      1           0  ...                     0                 1
3      0           0  ...                     1                 0
4      1           0  ...                     0                 1
...   ..         ...  ...                   ...               ...
41183  0           0  ...                     1                 0
41184  0           0  ...                     1                 0
41185  0           1  ...                     1                 0
41186  0           0  ...                     1                 0
41187  0           0  ...                     1                 0

[41188 rows x 29 columns]

In [13]:
data.columns[12]

'job_unknown'

In [14]:
data.drop(data.columns[[12, 16, 18, 21, 24]], axis=1, inplace=True)

In [15]:
data.columns

Index(['y', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'marital_divorced', 'marital_married', 'marital_single', 'default_no',
       'default_yes', 'housing_no', 'housing_yes', 'loan_no', 'loan_yes',
       'poutcome_failure', 'poutcome_nonexistent', 'poutcome_success'],
      dtype='object')

In [16]:
X = data.iloc[:,1:]

In [19]:
X.head()

   job_admin.  job_blue-collar  ...  poutcome_nonexistent  poutcome_success
0           0                1  ...                     1                 0
1           0                0  ...                     1                 0
2           0                0  ...                     0                 1
3           0                0  ...                     1                 0
4           0                0  ...                     0                 1

[5 rows x 23 columns]

In [17]:
Y = data.iloc[:,0]

In [20]:
Y.head()

0    0
1    0
2    1
3    0
4    1
Name: y, dtype: int64

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=0)

In [22]:
classifier = LogisticRegression(solver='lbfgs',random_state=0)

In [23]:
classifier.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
predicted_y = classifier.predict(X_test)

In [25]:
predicted_y

array([0, 0, 0, ..., 0, 0, 0])

In [29]:
for x in range(len(predicted_y)): 
   if (predicted_y[x] == 1):
       print(x, end="\t")

12	35	41	67	94	103	117	198	203	264	275	452	566	568	601	624	656	718	727	736	748	767	800	807	818	825	854	861	883	906	919	938	990	1045	1064	1097	1180	1234	1247	1268	1277	1288	1331	1344	1371	1372	1401	1428	1437	1468	1479	1513	1557	1564	1595	1602	1610	1611	1628	1671	1699	1718	1723	1735	1758	1765	1783	1809	1849	1873	1891	1921	1955	2026	2048	2073	2078	2120	2262	2274	2309	2315	2352	2383	2451	2474	2480	2485	2529	2564	2587	2601	2615	2643	2664	2693	2724	2739	2740	2788	2834	2849	2874	2916	2928	2994	2996	3031	3053	3066	3085	3102	3118	3122	3143	3173	3193	3200	3234	3244	3312	3350	3363	3384	3410	3452	3463	3525	3572	3599	3626	3634	3655	3658	3661	3787	3791	3883	3945	4041	4085	4088	4102	4111	4141	4174	4180	4202	4204	4217	4301	4412	4416	4417	4428	4521	4537	4559	4568	4596	4651	4744	4777	4796	4861	4972	5033	5051	5129	5130	5143	5159	5196	5206	5215	5251	5261	5362	5391	5399	5458	5540	5570	5576	5600	5602	5633	5678	5691	5726	5733	5754	5791	5835	5837	5863	5865	5960	6109	6112	6161	6167	6194	6269	6283	6338	6357	6402	6430	6464	6497	6539	6561	6594	6612	6621	6633	6683	6701	6716	6785	6793	6803	6816	6819	6821	6823	6855	6878	6972	6997	7013	7041	7105	7117	7126	7132	7153	7179	7186	7263	7300	7351	7360	7394	7405	7411	7420	7421	7447	7512	7670	7728	7739	7777	7823	7835	7847	7895	7903	7937	8005	8022	8036	8048	8156	8183	8223	8254	8257	8268	8272	8304	8338	8361	8366	8392	8455	8515	8529	8544	8547	8554	8586	8620	8652	8655	8733	8788	8831	8882	8943	9105	9126	9169	9199	9288	9297	9313	9338	9406	9409	9416	9424	9476	9490	9492	9558	9611	9628	9661	9688	9694	9707	9743	9759	9810	9811	9819	9915	9933	9935	9937	9946	10013	10019	10024	10052	10099	10102	10121	10130	10146	10166	10178	10187	10282	10283	10291

In [30]:
print('Accuracy: {:.2f}'.format(classifier.score(X_test, Y_test)))

Accuracy: 0.90