<a href="https://colab.research.google.com/github/aadityadamle/Logistic-Regression/blob/master/Logistic_Regression0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import statements
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
# loading the data from csv file
df = pd.read_csv("bank-full.csv", sep = ";", header = 0)

In [4]:
df.head()

   age           job  marital  education  ... pdays  previous poutcome   y
0   58    management  married   tertiary  ...    -1         0  unknown  no
1   44    technician   single  secondary  ...    -1         0  unknown  no
2   33  entrepreneur  married  secondary  ...    -1         0  unknown  no
3   47   blue-collar  married    unknown  ...    -1         0  unknown  no
4   33       unknown   single    unknown  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [5]:
df = df.dropna()

In [6]:
print(df.shape)

(45211, 17)

In [7]:
# Printing the list of columns
print(list(df.columns))

['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']

In [9]:
df.columns[9]

'day'

In [13]:
#drop columns which are not needed.
df.drop(df.columns[[0, 3, 5, 8, 9, 10, 11, 12, 13, 14]], axis=1, inplace=True)

In [15]:
df.head()

            job  marital default housing loan poutcome   y
0    management  married      no     yes   no  unknown  no
1    technician   single      no     yes   no  unknown  no
2  entrepreneur  married      no     yes  yes  unknown  no
3   blue-collar  married      no     yes   no  unknown  no
4       unknown   single      no      no   no  unknown  no

In [17]:
# creating one hot encoding of the categorical columns.
data = pd.get_dummies(df, columns =['job', 'marital', 'default', 'housing', 'loan', 'poutcome'])

In [18]:
data.head()

    y  job_admin.  ...  poutcome_success  poutcome_unknown
0  no           0  ...                 0                 1
1  no           0  ...                 0                 1
2  no           0  ...                 0                 1
3  no           0  ...                 0                 1
4  no           0  ...                 0                 1

[5 rows x 26 columns]

In [19]:
data.columns

Index(['y', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'job_unknown', 'marital_divorced', 'marital_married', 'marital_single',
       'default_no', 'default_yes', 'housing_no', 'housing_yes', 'loan_no',
       'loan_yes', 'poutcome_failure', 'poutcome_other', 'poutcome_success',
       'poutcome_unknown'],
      dtype='object')

In [20]:
data

         y  job_admin.  ...  poutcome_success  poutcome_unknown
0       no           0  ...                 0                 1
1       no           0  ...                 0                 1
2       no           0  ...                 0                 1
3       no           0  ...                 0                 1
4       no           0  ...                 0                 1
...    ...         ...  ...               ...               ...
45206  yes           0  ...                 0                 1
45207  yes           0  ...                 0                 1
45208  yes           0  ...                 1                 0
45209   no           0  ...                 0                 1
45210   no           0  ...                 0                 0

[45211 rows x 26 columns]

In [21]:
data.columns[12]

'job_unknown'

In [22]:
data.drop(data.columns[[12, 25]], axis=1, inplace=True)

In [23]:
#Viewing the final columns which we'll use for prediction
data.columns

Index(['y', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'marital_divorced', 'marital_married', 'marital_single', 'default_no',
       'default_yes', 'housing_no', 'housing_yes', 'loan_no', 'loan_yes',
       'poutcome_failure', 'poutcome_other', 'poutcome_success'],
      dtype='object')

In [25]:
# Separating X from data
X = data.iloc[:,1:]

In [26]:
X.head()

   job_admin.  job_blue-collar  ...  poutcome_other  poutcome_success
0           0                0  ...               0                 0
1           0                0  ...               0                 0
2           0                0  ...               0                 0
3           0                1  ...               0                 0
4           0                0  ...               0                 0

[5 rows x 23 columns]

In [29]:
Y = data.loc[:,"y"]

In [30]:
# Seprating Y from data
Y.head()

0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

In [31]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=0)

In [32]:
# Loading the classifier from the sklearn
classifier = LogisticRegression(solver='lbfgs',random_state=0)

In [33]:
# Fitting the classifier onto the training data
classifier.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [34]:
#Using the classifier to predict the test data and storing it in predicted_y aaray
predicted_y = classifier.predict(X_test)

In [35]:
predicted_y

array(['no', 'no', 'no', ..., 'no', 'no', 'no'], dtype=object)

In [36]:
for x in range(len(predicted_y)): 
   if (predicted_y[x] == "yes"):
       print(x, end="\t")

26	84	115	160	210	259	302	304	318	339	364	371	381	393	447	544	594	631	673	709	825	837	862	868	888	941	988	1060	1074	1179	1223	1278	1311	1377	1379	1405	1414	1441	1494	1540	1567	1578	1592	1599	1614	1671	1678	1689	1770	1772	1783	1784	1863	1872	1889	1908	1928	1935	1939	1956	1957	1970	1990	1994	2017	2030	2109	2115	2122	2123	2148	2245	2280	2337	2428	2431	2433	2492	2493	2513	2520	2531	2582	2620	2692	2720	2742	2781	2784	2796	2851	2895	2897	2964	2994	3000	3065	3076	3104	3116	3123	3144	3159	3169	3214	3228	3270	3281	3354	3369	3392	3451	3488	3537	3539	3614	3681	3690	3711	3752	3761	3863	3917	3930	3934	3941	3945	3958	3974	3995	4057	4092	4111	4178	4208	4219	4231	4232	4270	4285	4290	4352	4355	4369	4380	4430	4459	4478	4491	4516	4538	4552	4566	4567	4607	4610	4628	4646	4732	4748	4760	4892	4946	5010	5013	5029	5037	5108	5129	5169	5250	5266	5287	5324	5380	5382	5403	5416	5495	5519	5549	5573	5604	5686	5713	5733	5776	5791	5800	5808	5811	5843	5844	6049	6099	6100	6101	6128	6137	6145	6212	6241	6295	6380	6410	6412	6458	6489	6512	6574	6695	6714	6718	6778	6804	6814	6817	6912	6974	7029	7033	7070	7079	7091	7133	7150	7178	7227	7244	7253	7299	7373	7385	7413	7424	7436	7453	7455	7558	7704	7748	7825	7840	7868	7951	7967	8092	8114	8133	8144	8151	8195	8208	8210	8269	8340	8356	8378	8396	8465	8476	8533	8542	8543	8547	8551	8623	8660	8715	8730	8733	8742	8795	8832	8835	8843	8849	8858	8870	8876	8881	8895	8909	9033	9058	9075	9114	9139	9158	9165	9221	9275	9358	9363	9409	9480	9513	9530	9566	9593	9623	9655	9694	9817	9838	9862	9881	9899	9903	9935	9957	10000	10028	10092	10105	10116	10223	10241	10252	10267	10301	10325	10364	10390	10422	10435	10464	10492	10507	10509	10679	10683	10690	10702	10732	10873	10992	11043	11062	11067	11093	11199	11204	11280

In [37]:
# Comparing the predicted data with actual data
print('Accuracy: {:.2f}'.format(classifier.score(X_test, Y_test)))

Accuracy: 0.89