<a href="https://colab.research.google.com/github/aadityadamle/Logistic-Regression/blob/master/Logistic_Regression0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
#changes made here : sep = ";"
data = pd.read_csv("bank.csv", sep = ";", header = 0)

In [ ]:
# here you can see that the column "y" has yes/no values but the website shows 0/1
data.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [ ]:
data = data.dropna()

In [ ]:
print(data.shape)

(4521, 17)

In [ ]:
print(list(data.columns))

['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']

In [ ]:
#data.drop(data.columns[[0, 3, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19]], axis=1, inplace=True)

# changes made here as column numnbers are changed, I used column name. 
data.drop(['age', 'education', 'balance', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous'], axis = 1, inplace=True)

In [ ]:
data.head()

           job  marital default housing loan poutcome   y
0   unemployed  married      no      no   no  unknown  no
1     services  married      no     yes  yes  failure  no
2   management   single      no     yes   no  failure  no
3   management  married      no     yes  yes  unknown  no
4  blue-collar  married      no     yes   no  unknown  no

In [ ]:
# creating one hot encoding of the categorical columns.
edata = pd.get_dummies(data, columns =['job', 'marital', 'default', 'housing', 'loan', 'poutcome'])

In [ ]:
edata.head()

    y  job_admin.  ...  poutcome_success  poutcome_unknown
0  no           0  ...                 0                 1
1  no           0  ...                 0                 0
2  no           0  ...                 0                 0
3  no           0  ...                 0                 1
4  no           0  ...                 0                 1

[5 rows x 26 columns]

In [ ]:
edata.columns

Index(['y', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'job_unknown', 'marital_divorced', 'marital_married', 'marital_single',
       'default_no', 'default_yes', 'housing_no', 'housing_yes', 'loan_no',
       'loan_yes', 'poutcome_failure', 'poutcome_other', 'poutcome_success',
       'poutcome_unknown'],
      dtype='object')

In [ ]:
edata

       y  job_admin.  ...  poutcome_success  poutcome_unknown
0     no           0  ...                 0                 1
1     no           0  ...                 0                 0
2     no           0  ...                 0                 0
3     no           0  ...                 0                 1
4     no           0  ...                 0                 1
...   ..         ...  ...               ...               ...
4516  no           0  ...                 0                 1
4517  no           0  ...                 0                 1
4518  no           0  ...                 0                 1
4519  no           0  ...                 0                 0
4520  no           0  ...                 0                 0

[4521 rows x 26 columns]

In [ ]:
# changes made here : I used column names instead of numbers
edata.drop(['job_unknown','poutcome_unknown'], axis=1, inplace=True)

In [ ]:
edata.columns

Index(['y', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'marital_divorced', 'marital_married', 'marital_single', 'default_no',
       'default_yes', 'housing_no', 'housing_yes', 'loan_no', 'loan_yes',
       'poutcome_failure', 'poutcome_other', 'poutcome_success'],
      dtype='object')

In [ ]:
X = edata.iloc[:,1:]

In [ ]:
X.head()

   job_admin.  job_blue-collar  ...  poutcome_other  poutcome_success
0           0                0  ...               0                 0
1           0                0  ...               0                 0
2           0                0  ...               0                 0
3           0                0  ...               0                 0
4           0                1  ...               0                 0

[5 rows x 23 columns]

In [ ]:
X.shape

(4521, 23)

In [ ]:
# changes made here : to pass column "y" i used column name "y"
Y = data.loc[:,"y"]

In [ ]:
Y.head()

0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=0)

In [ ]:
classifier = LogisticRegression(solver='lbfgs',random_state=0)

In [ ]:
classifier.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
predicted_y = classifier.predict(X_test)

In [ ]:
predicted_y

array(['no', 'no', 'no', ..., 'no', 'no', 'no'], dtype=object)

In [ ]:
# changes made here: I changed value 1 to "yes" to check postive cases
for x in range(len(predicted_y)): 
   if (predicted_y[x] == "yes"):
       print(x, end="\t")

45	108	223	265	297	357	401	447	538	566	617	654	671	701	737	871	885	909	925	1056	1087

In [ ]:
# As file contains less data accuracy is decreased by 0.01
print('Accuracy: {:.2f}'.format(classifier.score(X_test, Y_test)))

Accuracy: 0.89